@import './assets/style/icon.css';
@import './assets/style/font.css';

html,
body,
#root,
.App {
  height: 100%;
  font-size: 14px;
}

html {
  font-size: 50px;
}

body {
  background-color: rgb(246, 246, 246);
  font-family: -apple-system-font,Helvetica Neue,sans-serif;
}
